html {
  background-color: #2c4158;
  // color: #F64C72;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #66FCF1;
}

ul {
  display: inline-flex;
  flex-direction: row;

}

li {
  margin: 0 10px;
}

.hero {
  height: 100vh;
  

}

.hero-title {
  font-size: 100px;
  font-family: 'Monoton';
}

.hero-sub {
  font-size: 50px;
}
.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon {
  font-size: 4rem;
  padding: 10px;
  margin: 20px;
}

.icon-project {
  font-size: 2rem;
}

.icon-column {
  margin: 5px;
}

nav {
  color: #66FCF1;
}

.title {
  font-size: 50px;
  color: #66FCF1;

}

.subtitle {
  font-size: 30px;
  color: #66FCF1;

}

.container {
  padding: 50px;
}

img {
  height: 300px;
}




.container-project {
  border: 5px solid #2c4158;
  margin: 50px;
}


#about-me {
  background-color: #66FCF1;
  color: #2c4158;
  padding: 10px;

}

.about-me-text {
  font-size: 25px;
}

#projects {
  background-color: #66FCF1;
  color: #2c4158;
  padding: 10px;
}

.skills {
  font-family: 'Monoton';
  font-size: 75px;

}


footer {
  background-color: #C5C6C7;
  color: #1F2833;
}